/* -------------------------------- 
  HOME PAGE
-------------------------------- */
.hero-section {
  .hero-title {
    margin-top: var(--space-lg);
  }

  .hero-image {
    padding-top: var(--space-m);
  }

  .hero-text {
    padding-top: var(--space-m);
  }
}

.card--image {
  margin-top: var(--space-s);
}