/* -------------------------------- 
  PROGRESS BAR
-------------------------------- */
progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  appearance: none;
  height: 4px;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--progress-bar-bg);
}

progress[value]::-webkit-progress-value {
  background-color: var(--progress-bar);
}

progress::-moz-progress-bar {
  background-color: var(--progress-bar);
}

.tests-chart {
  @include border;
  background-color: var(--chart-bg);
}